5601-interceptor-demo/src/main/app/interceptor-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>

	<flow name="interceptor-demo">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/demo1" doc:name="HTTP"/>
		<component class="com.mulesoft.training.SetPayloadComponent" doc:name="SetPayloadComponent"/>
		<custom-interceptor class="com.mulesoft.training.LoggingInterceptor" doc:name="LoggingInterceptor"/>
	</flow>

    <flow name="envelope-interceptor-flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/demo2" doc:name="HTTP"/>
        <custom-interceptor class="com.mulesoft.training.AuditLoggingEnvelopeInterceptor" doc:name="AuditLoggingEnvelopeInterceptor"/>
        <component class="com.mulesoft.training.SetPayloadComponent" doc:name="SetPayloadComponent"/>
        <logger level="INFO" doc:name="Payload Logger" message="#[message.payload]"/>
    </flow>

</mule>
